body {
    font-family: Arial;
    text-align: center;
    background: #f5f5f5;
}

.stock {
    background: white;
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
}
